{{ define "header" }}
    <link rel="stylesheet" href="{{ "/assets/css/layouts/list.css" | relURL }}">
    <link rel="stylesheet" href="{{ "/assets/css/navigators/sidebar.css" | relURL}}">
{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/navbar-2.html" . }}
{{ end }}

{{ define "sidebar" }}
  {{ $blogHome:="#" }}
  {{ if site.IsMultiLingual }}
    {{ $blogHome = (path.Join (cond ( eq .Language.Lang "en") "" .Language.Lang) "posts") }}
  {{ end }}

{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content container-fluid" id="content">
    {{ if isset .Data "Singular" }}
    <h1 class="my-4">{{ printf (i18n (printf "%s_title" .Data.Singular)) .Title }}</h1>
    {{ end }}
    <div class="container-fluid post-card-holder" id="post-card-holder">
      {{ $paginator := .Paginate .RegularPagesRecursive (default 12 .Site.Params.postsPerPage) }}
      {{ range $paginator.Pages }}
        {{ partial "cards/post.html" . }}
      {{ end }}
    </div>
    <div class="paginator">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
    <script src="{{ "/assets/js/list.js" | relURL }}"></script>
{{ end }}
