{{ define "header" }}
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css"
/>
<link rel="stylesheet" href="{{ "/assets/css/layouts/single.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/assets/css/navigators/sidebar.css" | relURL }}">
<meta name="twitter:card" content="summary_large_image">
{{ if and (isset .Site.Params.share "twitter") (isset .Site.Params.share.twitter "handle") }}
<meta name="twitter:site" content="@{{ .Site.Params.share.twitter.handle }}">
{{ end }}
{{ partial "helpers/author-twitter-meta.html" . }}
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:image" content="{{ strings.TrimSuffix "/" site.BaseURL }}{{ partial "helpers/get-hero.html" . | relURL }}">
{{ if and (isset . "Description") (not (eq .Description "") ) }}
<meta name="twitter:description" content="{{ .Description }}">
<meta name="og:description" content="{{ .Description }}">
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="{{ .Site.Language }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:image" content="{{ strings.TrimSuffix "/" site.BaseURL }}{{ partial "helpers/get-hero.html" . | relURL }}" />
{{ end }}

{{ define "navbar" }}
    {{ partial "navigators/navbar-2.html" . }}
{{ end }}

{{ define "content" }}
<section class="content-section" id="content-section">
  <div class="content">
    <div class="container p-0 read-area">
      <!--Hero Area-->
      {{ if default true .Site.Params.hero_in_post_page }}
      <div class="hero-area col-sm-12" id="hero-area" style='background-image: url({{ strings.TrimSuffix "/" site.BaseURL }}{{ partial "helpers/get-hero.html" . | relURL }});'>
      </div>
      {{ else }}
      <div style="margin-top: 3rem; height: 75px;"></div>
      {{ end }}

      <!--Content Start-->
      <div class="page-content">
        {{ if not (default true .Site.Params.hero_in_post_page) }}
        <div class="title">
          <h1>{{ .Page.Title }}</h1>
        </div>
        {{ end }}

        <div class="author-profile ml-auto align-self-lg-center">
          {{ if eq (printf "%T" .Params.author ) "string" }}<a href="{{ (.Site.GetPage (printf "authors/%s" (urlize .Params.author))).Permalink }}">{{ end }}<img class="rounded-circle" src='{{ partial "helpers/get-author-image.html" . | relURL }}'/>{{ if eq (printf "%T" .Params.author ) "string" }}</a>{{ end }}
          <h5 class="author-name">
          {{ $author := partial "helpers/get-author-name.html" . }}
          {{ if eq (printf "%T" .Params.author ) "string" }}
          {{ $author = printf `<a href="%s">%s</a>` (.Site.GetPage (printf "authors/%s" (urlize .Params.author))).Permalink $author | safeHTML }}
          {{ end }}
          {{ $category := "" }}
          {{ if isset .Params "categories" }}
          {{ $category = index .Params.categories 0 }}
          {{ $category_link := "" }}
          {{ with .Site.GetPage (printf "/categories/%s" $category) }}
          {{ $category_link = printf `<a href="%s">%s</a>` .Permalink .Title }}
          {{ end }}
          {{ printf (i18n "author_and_category") $author $category_link | safeHTML }}
          {{ else }}
          {{ $author }}
          {{ end }}</h5>
          <p>{{ .Page.Date.Format "January 2, 2006" }}</p>
        </div>

        {{ if (default true .Site.Params.hero_in_post_page) }}
        <div class="title">
          <h1>{{ .Page.Title }}</h1>
        </div>
        {{ end }}

        {{ with .Params.tags }}
        <p class="tags text-center">
        {{ range $first_tag, $tag := . }}
        {{- with $.Site.GetPage (printf "/tags/%s" $tag) -}}
        {{ if $first_tag }},{{ end }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{- end -}}
        {{ end }}
        </p>
        {{ end }}

        {{ if isset .Site.Params "share" }}
        <p class="text-center h2">
        {{ $shareTags := "" }}
        {{ range $tag := .Params.tags }}
        {{ $shareTags = printf "%s#%s " $shareTags (replace . "-" "") }}
        {{ end }}
        {{ if not (eq $category "") }}
        {{ $shareTags = printf "%s#%s" $shareTags (replace $category "-" "") }}
        {{ end }}
        {{ if and (isset .Site.Params.share "twitter") (isset .Site.Params.share.twitter "message") }}
        <a title="{{ printf (i18n "share_on") "Twitter" }}" alt="{{ printf (i18n "share_on") "Twitter" }}" href="https://twitter.com/intent/tweet?text={{ printf .Site.Params.share.twitter.message .Title .Permalink $shareTags }}" target="_blank"><i class="fab fa-twitter"></i></a>
        {{ end }}
        {{ if isset .Site.Params.share "mastodon" }}
        <a title="{{ printf (i18n "share_on") "Mastodon" }}" alt="{{ printf (i18n "share_on") "Mastodon" }}" href="https://sharetomastodon.github.io/?title={{ printf .Site.Params.share.mastodon .Title $shareTags }}&amp;url={{ .Permalink }}" target="_blank"><i class="fab fa-mastodon"></i></a>
        {{ end }}
        {{ if and (isset .Site.Params.share "facebook") (.Site.Params.share.facebook) }}
        <a title="{{ printf (i18n "share_on") "Facebook" }}" alt="{{ printf (i18n "share_on") "Facebook" }}" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"><i class="fab fa-facebook"></i></a>
        {{ end }}
        </p>
        {{ end }}

        <div class="post-content" id="post-content">
          {{ .Page.Content }}
        </div>

        <!--- Improve this page button --->
        {{ if site.Params.GitRepo }}
          <div class="btn-improve-page">
              <a href="{{ site.Params.GitRepo }}/edit/{{ site.Params.GitBranch | default "master" }}/content/{{ .File.Path }}">
                <i class="fas fa-code-branch"></i>
                {{ i18n "improve_this_page" }}
              </a>
          </div>
        {{ end }}

        <!---Next and Previous Navigator -->
      <hr />
        {{ partial "navigators/next-prev-navigator.html" . }}
      <hr />
      <!-- Add Disqus forum  -->
      {{ if site.DisqusShortname }}
          {{ partial "disqus.html" . }}
      {{ end }}
      </div>
    </div>
  </div>
  {{ if .IsTranslated }}
    {{ partial "navigators/floating-lang-selector.html" . }}
  {{ end }}
</section>
{{ end }}

{{ define "toc" }}
  <section class="toc-section" id="toc-section">
    {{ if site.Params.enableTOC }}
    <div class="toc-holder">
      <h5 class="text-center pl-3">{{ i18n "toc_heading" }}</h5>
      <hr>
      <div class="toc">
        {{ .TableOfContents }}
      </div>
    </div>
    {{ end }}
  </section>
{{ end }}

{{ define "scripts" }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script src="{{ "/assets/js/single.js" | relURL }}"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
{{ if .Params.math }}
    {{ partial "math.html" . }}
{{ end }}
{{ end }}
