{{ $author:= site.Data.author }}
{{ if (index site.Data site.Language.Lang).author }}
  {{ $author = (index site.Data site.Language.Lang).author }}
{{ end }}
{{ $authorImage:= "/assets/images/default-avatar.png" }}
{{ if $author.image }}
  {{ $authorImage = $author.image }}
{{ end }}

{{ $page_author := "" }}
{{ if eq (printf "%T" .Params.author ) "string" }}
  {{ $page_author = ($.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .Params.author))).Params }}
{{ else if eq (printf "%T" .Params.author ) "maps.Params" }}
  {{ $page_author = .Params.author }}
{{ end }}

{{ if not (eq $page_author "") }}
    {{ with $page_author }}
        {{ if .image }}
            {{ $authorImage = .image }}
        {{ end }}
    {{ end }}
{{ end }}
{{ return $authorImage }}
